.break {
  display: block;
  margin-top: 0;
}

.header {
  /* background-color: var(--neutral-white-900); */
  background-color: rgba(252, 252, 248, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 9999;
}

.header-nav {
  display: flex;
  gap: 2rem;
}

@media (min-width: 758px) {
  .header-nav {
    align-items: center;
  }
}

.header-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.8rem;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
  color: var(--neutral-black-700);
  transition: all 150ms ease-in-out;
  font-weight: 500;
  /* display: inline-block; */
  letter-spacing: 1px;

  &&:hover {
    color: var(--neutral-black-900);
  }
}

.nav-booking-cta-link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 758px) {
  .nav-link::after {
    content: "";
    display: block;
    padding: 0.1rem;
    left: 0;
    background-color: var(--neutral-black-900);
    width: 100%;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }
}

.header-logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 1.7rem;
  font-weight: 900;
  color: var(--accent-yellow-800);
  line-height: 1;
  transition: transform 150ms ease-in-out;

  &&:hover {
    color: var(--accent-pink-800);
  }
}

.header-logo-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-control-btn {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 40px;
  aspect-ratio: 1/1;

  img {
    object-fit: cover;
  }
}

@media (max-width: 757px) {
  .nav-control-btn {
    display: block;
  }

  .header {
    display: block;
    /* background-color: transparent;
    backdrop-filter: none; */
  }

  .header-nav {
    transform: translateX(110%);
    position: absolute;
    left: 1rem;
    right: 1rem;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    background-color: var(--accent-pink-900);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 200ms ease-in-out;
  }

  .header-nav.is-visible {
    transform: translateX(0);
  }
  .header-nav-list {
    flex-direction: column;
  }
  .nav-link {
    color: var(--neutral-white-900);
  }
}
